@import url("https://use.typekit.net/prk1uvr.css");
@import url("https://use.typekit.net/prk1uvr.css");

html {
    /* 
    * box-sizing
    * default: 'box-sizing: content-box'
    * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing 
    */
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* mobile. Tamaño mínimo recomendado */
    font-size: 14px;
    line-height: 1.3em;
    background-color: #0E3D59;
    color: #f9fafecf;
    padding: 1%;
}

h1,h2,h3,h4,h5,h6,a {
    font-family:"Abril";
}

/* Laptop / Tablet */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Escritorio */
@media (min-width: 1024px) {
    body {
      font-size: 18px;
    }
}


h1 {
    color: #9f3333;
    font-family: "Condor";
    font-size: 2.7rem;
    line-height: 1.17em;
}

header {
    width: 100%;
}

nav ul {
    display: flex;
    margin: 15;
    padding: 15;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

a {
    font-family: "Condor";
    color: #2D77A6;
    font-weight: 600;
    text-decoration: none;
    padding: 0.3em .6em;
    text-transform: uppercase;
    min-width: 42px;
    transition: all 300ms ease-out;
}

a.active,
a:hover {
    transition: all 100ms ease-in;
    background-color: #ffffff;
    color: #732424;
}

footer {
    width: 100%;
    text-align: center;
}

article {
    width: 80%;
    max-width: 800px;
    padding: 2em;
    margin: 0 auto; /* Centrar en 'x' de su elemento padre */
}

p {
    max-width: 60ch; /* Ancho máximo basado en el ancho del carácter "0" */
}

.container {
    margin: 0 auto;
    padding: 0 1em;
    width: 90%;
    min-width: 290px;
    max-width: 1200px;
}

nav.container {
    padding: 1em;
}